* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex-container {
  background-color: yellow;
  display: flex;
  /* flex-direction: row; */
  /* justify-content: flex-start; */
  flex-flow: row wrap;
  gap: 30px;
  align-items: start;
  height: 50vh;
}

.flex-item {
  background-color: pink;
  flex-grow: 1;
}

.flex-item:nth-child(1) {
  height: 150px;
 
}

.flex-item:nth-child(2) {
  flex-basis: 200px;
}